<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.opacheco.proyectomuyfinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoMuyFinal">
        <activity android:name=".Unocuatrodostresuno"></activity>
        <activity android:name=".Unotrescincodos" />
        <activity android:name=".Unocuatrocuatrodos" />
        <activity android:name=".Unocuatrotrestres" />
        <activity android:name=".Contacto" />
        <activity android:name=".VideosExtra" />
        <activity android:name=".SistemaDeJuego" />
        <activity android:name=".RiverPlate" />
        <activity android:name=".BocaJuniors" />
        <activity android:name=".Psg" />
        <activity android:name=".Dortmund" />
        <activity android:name=".Leipzig" />
        <activity android:name=".Bayern" />
        <activity android:name=".Milan" />
        <activity android:name=".InterMilan" />
        <activity android:name=".Juventus" />
        <activity android:name=".Sheffield" />
        <activity android:name=".Albion" />
        <activity android:name=".Fulham" />
        <activity android:name=".Burnley" />
        <activity android:name=".Brighton" />
        <activity android:name=".Southampton" />
        <activity android:name=".CrystalPalace" />
        <activity android:name=".Wolves" />
        <activity android:name=".Newcastle" />
        <activity android:name=".AstonVilla" />
        <activity android:name=".Everton" />
        <activity android:name=".Leeds" />
        <activity android:name=".Arsenal" />
        <activity android:name=".Tottenham" />
        <activity android:name=".WestHam" />
        <activity android:name=".Leicester" />
        <activity android:name=".Chelsea" />
        <activity android:name=".Liverpool" />
        <activity android:name=".ManchesterUnited" />
        <activity android:name=".ManchesterCity" />
        <activity android:name=".Eibar" />
        <activity android:name=".Valladolid" />
        <activity android:name=".Elche" />
        <activity android:name=".Huesca" />
        <activity android:name=".Getafe" />
        <activity android:name=".Alaves" />
        <activity android:name=".Levante" />
        <activity android:name=".Valencia" />
        <activity android:name=".Cadiz" />
        <activity android:name=".Osasuna" />
        <activity android:name=".Granada" />
        <activity android:name=".Athletic" />
        <activity android:name=".Celta" />
        <activity android:name=".Villarreal" />
        <activity android:name=".Betis" />
        <activity android:name=".RealSociedad" />
        <activity android:name=".Sevilla" />
        <activity android:name=".Barcelona" />
        <activity android:name=".RealMadrid" />
        <activity android:name=".AtleticodeMadrid" />
        <activity android:name=".LigaArgentina" />
        <activity android:name=".Eredivise" />
        <activity android:name=".Ligue1" />
        <activity android:name=".Premier" />
        <activity android:name=".SerieA" />
        <activity android:name=".Bundesliga" />
        <activity android:name=".LigaSantander" />
        <activity android:name=".ElegirLigaActivity" />
        <activity android:name=".InicioSesionActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>